

.search-submit, #left, #right {
    background-color: var(--black);
    width: 80px;
    height: 40px;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    /* background-image: url('./search.png'); */
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--opaque);
}

#right, #left {
    /* background-image: url('right.png'); */
    background-size: 20px;
    min-width: 40px;
    max-width: 40px; 
}

#left {
    /* background-image: url('left.png'); */
    border-radius: 8px 0 0 8px;  
}

.search-submit:hover, #left:hover, #right:hover {
    background-color: var(--blackHover);
}

/* .tools-select {
    min-height: 40px;
    text-align-last:center;
    padding-right: 20px; 
    min-width:  0px; 
}

.tools-select:focus {
    border: 2px solid var(--opaque);
} */
