nav {
    z-index: 1;
    height: 40px;
    width: 100%;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
}

nav h3 {
    display: flex;
    flex-direction: column;
    padding: 0 8px;
    justify-content: center;
    margin: 0; 
    color: var(--orange);
    font-family: Georgia;
    cursor: default;
}

nav a:hover {
    color: var(--gray);
}

.dropdown-icon-container {
    height: 40px; 
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dropdown-icon {
    height: 15px;
    width: 20px;
    margin: 0 auto;
    background-image: linear-gradient(
        to bottom,
        white 0%, white 15%,
        var(--opaque) 15%, var(--opaque) 42.5%,
        white 42.5%, white 57.5%,
        var(--opaque) 57.5%, var(--opaque) 87%,
        white 87%, white 100%
    );
    cursor: pointer;
}

.dropdown-icon:hover{
    background-image: linear-gradient(
        to bottom,
        var(--gray) 0%, var(--gray) 15%,
        var(--opaque) 15%, var(--opaque) 42.5%,
        var(--gray) 42.5%, var(--gray) 57.5%,
        var(--opaque) 57.5%, var(--opaque) 85%,
        var(--gray) 85%, var(--gray) 100%
    );
}