:root {
    --black: rgb(40, 40, 40);
    --orange: rgb(255,200,0);
    --blue: rgb(0, 185, 230);
    --cream: rgb(235, 225, 220);
    --gray: rgb(135,130,130);
    --opaque: rgba(0,0,0,0); 
    --orangeHover: rgb(255,215,15);
    --grayHover: rgb(155, 150, 150);
    --blackHover: rgb(55, 55, 55);
}

body {
    margin: 0;
}

#root {
    min-height: 100vh;
    width: 100%; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 8px;    
    height: 8px;
    background-color: var(--grayHover);
}
::-webkit-scrollbar-thumb {
    background-color: var(--blackHover);   
}
